.defaultText {
  font-size: 32;
  font-family: System-Regular;
  font-weight: regular;
  text-length: 32;
}

#timer {
  font-size: 80;
  /*text-anchor: middle;
  x: 50%;
  y: 50%+20;*/
  fill: white;
}