/* ---------- Globals ---------- */
text {
  fill: white;
  font-family: "Seville-Book";
}

textarea {
  fill: white;
  font-family: "Seville-Book";
}

.center {
  x: "50%";
  text-anchor: "middle";
}

.full-width {
  width: 100%;
}

.half-width {
  width: 50%;
}

.half-x {
  x: "50%";
}

.tile-divider-bottom {
  x: 0;
  width: 100%;
  height: 2;
  fill: #f83478;
}

/* ---------- Timer Section ---------- */
#timer {
  font-size: 80;
  display-align: center;
  x: "21%";
}

#btn-tr {
  fill: 'fb-black';
}

#btn-br {
  fill: 'fb-white';
}

#previous {
  font-size: 40;
  x: "2%";
  y: "98%";
}

/* ---------- Average Section ---------- */
#averages .tile-divider-bottom {
  y: "50%+5"; 
  fill: "#f83478";
}

#upper-section {
  height: "50%"
}

#lower-section {
  height: "50%"; 
  y: "45%"
}

.tile-average-y {
  y: "82%";
}

/* ---------- Details Section ---------- */
#contraction-details {
  width: "95%"; 
  height: "95%"; 
  x: "2.5%";
  y: "2.5%";
}

#tile-label {
  font-family: "Seville-Bold";
  font-size: 19;
  x: "5%";
  y: "28%";
}

#tile-value {
  font-family: "Seville-Regular";
  font-size: 18;
  x: "5%";
  y: "45%";
}

.tile-list-item {
  height: 130;
}

.tile-list-item text {
  font-family: "Seville-Regular";
  font-size: 20;
  fill: white;
}

#contraction-tile .tile-divider-bottom {
  y: "100%-5"; 
}

.tile-list-item-avg {
  height: 80;
}

.avg-small {
  font-size: 26;
}

/* ---------- Panorama View ---------- */
#pagination-dots {
  y: "8";
}

/* ---------- Notification Popup ---------- */
#btn-confirm {
  y: "65%";
}